#!/bin/bash

if [ -f ~/.githooks/coveralls.gpg ]; then
    COVERALLS_REPO_TOKEN="$(gpg -d -q "$HOME"/.githooks/coveralls.gpg)"
    export COVERALLS_REPO_TOKEN
fi
ANSIBLE_VAULT_PASSWORD_FILE=/etc/ansible/vault
DOCKER_CONSENSUS_REPO=edwardtheharris/ethereum-consensus-node
DOCKER_EXECUTION_REPO=edwardtheharris/ethereum-execution-node
GHCR_CONSENSUS_REPO=ghcr.io/edwardtheharris/helm-ethereum-node/consensus
GHCR_EXECUTION_REPO=ghcr.io/edwardtheharris/helm-ethereum-node/execution
GNUPGHOME=$(pwd)/.gnupg
PASSHOLE_DB="${HOME}/.local/share/passhole/ethereum.kdbx"
PIPENV_VENV_IN_PROJECT=1
VERSION="0.0.1"

export ANSIBLE_VAULT_PASSWORD_FILE
export DOCKER_CONSENSUS_REPO
export DOCKER_EXECUTION_REPO
export GHCR_CONSENSUS_REPO
export GHCR_EXECUTION_REPO
export GNUPGHOME
export PASSHOLE_DB
export PIPENV_VENV_IN_PROJECT
export VERSION
